
{{> menu}}

<script>
  $("#{{id}}").addClass("active item");
</script>

      <section id = "will" class="ui one column grid segment" >
        <div class="ui column">
          <h2 class="ui header">
  Welcome to the Podcast App, {{fullname}}! 
</h2>
          <div class="ui divider"></div>
          
          <div class="buttons">
            <button class="ui blue button">
              Read more <i class="arrow circle right icon"></i>
            </button>
          </div>
          <div id="readmore" class="ui message">
  <p>
    This app will allow users to create and maintain a collection of
            podcasts.
  </p>  
</div>
          <div id="welcomeuser" class="ui message"> </div>
          
<h2>
  Statistics for {{fullname}}:
          </h2>
<div class="ui statistics">
    <div class="ui small green statistic" > 
        <div class="value">
            <i class="podcast icon"></i>
        </div>
        <div class="label">
           {{totalPodcasts}} Podcasts 
        </div>
    </div>
    <div class="ui small purple statistic">
        <div class="value"> <i class="headphones icon"></i>
            
        </div>
        <div class="label">
             {{totalEpisodes}} Episodes
        </div>
    </div>
      <div class="ui small yellow statistic"> 
        <div class="value">
            <i class="random icon"></i>
        </div>
        <div class="label">
            Average Episodes: {{avgEpisodes}}
        </div>
    </div>
</div>
          
         
<div class="ui two statistics"> 
          <div class="ui box">
            
           <div id = "box" class ="label">
        Podcast with most episodes: {{largest}} 
            </div>
            
            
            <div id = "box2" class ="label">
        Podcast with least episodes: {{smallest}} 
            </div>
          </div>
          </div> 
          
        </div>
      </section>

    
